{% extends '_layout.html' %}

{% block content %}

    <div>
        <h1>en·tro·py</h1>
        <p>ˈentrəpē'</p>
        <p>noun: entropy; plural noun: entropies; symbol: S</p>
        <p>
            <ul>
                <li>
                    1.  PHYSICS
                    a thermodynamic quantity representing the unavailability of a system's thermal energy for conversion
                    into mechanical work, often interpreted as the degree of disorder or randomness in the system.</li>
                <li>2. <strong>lack of order or predictability;</strong> gradual decline into disorder.</li>
                <li>3.  (in information theory) a logarithmic measure of the rate of transfer of information in a particular
                    message or language.</li>
            </ul>
        <p>"a marketplace where entropy reigns supreme"</p>
        <p>synonyms:	deterioration, degeneration, crumbling, decline, degradation, decomposition, breaking down, collapse;</p>
        </p>


        <p>
            Password entropy is a measurement of how unpredictable a password is.

Password entropy is based on the character set used (which is expansible by using lowercase, uppercase, numbers as well as symbols) as well as password length. Password entropy predicts how difficult a given password would be to crack through guessing, brute force cracking, dictionary attacks or other common methods.


Password entropy is usually expressed in terms of bits: A password that is already known has zero bits of entropy; one that would be guessed on the first attempt half the time would have 1 bit of entropy. A password's entropy can be calculated by finding the entropy per character, which is a log base 2 of the number of characters in the character set used, multiplied by the number of characters
in the password itself.

NIST provides the following guidelines for user-selected passwords with 30 bits of entropy:

Use a minimum of 8 characters selected from  a 94-character set.
Include at least one upper case letter, one lower case letter, one number and one special character.
Use a dictionary of common words that users should avoid, like a password blacklist.
Don’t use any permutations of your username as your password.
Of course password entropy can't be the only thing considered or passwords would be too long, complex and unmemorable. Best practices involve employing something memorable to the user but not easily guessed by anyone else. Because password length is one of the most important factors affecting password entropy and overall strength, a longer password can be simpler than a shorter one and still be effective.

See also: password strength meter
        </p>

    </div>

{% endblock %}



