{% extends '_layout.html' %}

{% block content %}

    <div>
        <h1>mne·mon·ic</h1>
            <p>nəˈmänik</p>

            <p>noun: mnemonic; plural noun: mnemonics</p>

            <ul>
                <li>1. a device such as a pattern of letters, ideas, or associations that assists in remembering something.</li>
            </ul>

        <p>adjective: mnemonic</p>
        <ul>
            <li>1. aiding or designed to aid the memory; relating to the power of memory.</li>
        </ul>
    </div>

{% endblock %}